.search-result,
.search {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius, 92px);
    padding: 0px 0px 0 16px;
    display: flex;
    overflow: hidden;
    border: 1.5px solid transparent;

    input {
        font-size: 1.6rem;
        color: var(--black);
        font-family: var(--font-family);
        padding-right: 40px;
        height: 100%;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        right: var(--search-button-width);
        top: var(--search-top-spacer);
        width: 2px;
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear-button,
.loading {
    position: absolute;

    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.loading {
    animation: Spinner 1s linear infinite;
}
@keyframes Spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
